/*
  about.css
  -----------------------------------------
  Technical Showcase 4
  Website designed by Ryan "xRGTMx" Gudonis
  © 2020
*/

/* Prize Boxes */
div.prize-box {
  text-align: center; 
  margin-bottom: 1em; 
  border: 4px solid #f2e230;
}
div.prize-box h3 {
  margin: 0.25em 0;
  font-size: 1.75em;
}
div.prize-box h4 {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 0;
}
div.prize-box div.prize-header, div.prize-box div.prize-first, div.prize-box div.prize-second, div.prize-box div.prize-third, div.prize-box div.prize-fourth {
  border: 2px solid #f2e230;
}
div.prize-box div.prize-first, div.prize-box div.prize-second, div.prize-box div.prize-third, div.prize-box div.prize-fourth {
  padding: 0.5em 0.125em;
}
div.prize-box div.prize-header {
  color: #fff;
}
div.prize-box div.prize-first {
  background: #ffdf80;
  background: -webkit-linear-gradient(#ffefbf,#ffdf80);
  background: -o-linear-gradient(#ffefbf,#ffdf80);
  background: -moz-linear-gradient(#ffefbf,#ffdf80);
  background: linear-gradient(#ffefbf,#ffdf80);
}
div.prize-box div.prize-first h4 { 
  color: #ffbf00;
  text-shadow: #bf8f00 0.03125em 0.03125em;
}
div.prize-box div.prize-second {
  background: #e6ecf2;
  background: -webkit-linear-gradient(#e6ecf2,#c3d4e5);
  background: -o-linear-gradient(#e6ecf2,#c3d4e5);
  background: -moz-linear-gradient(#e6ecf2,#c3d4e5);
  background: linear-gradient(#e6ecf2,#c3d4e5);
}
div.prize-box div.prize-second h4 {
  color: #acb6bf;
  text-shadow: #737a80 0.03125em 0.03125em;
}
div.prize-box div.prize-third {
  background: #ffd9b2;
  background: -webkit-linear-gradient(#ffd9b2,#f2b06d);
  background: -o-linear-gradient(#ffd9b2,#f2b06d);
  background: -moz-linear-gradient(#ffd9b2,#f2b06d);
  background: linear-gradient(#ffd9b2,#f2b06d);
}
div.prize-box div.prize-third h4 {
  color: #c60;
  text-shadow: #804000 0.03125em 0.03125em;
}
div.prize-box div.prize-fourth {
  background: #ffccff;
  background: -webkit-linear-gradient(#ffccff,#f279d4);
  background: -o-linear-gradient(#ffccff,#f279d4);
  background: -moz-linear-gradient(#ffccff,#f279d4);
  background: linear-gradient(#ffccff,#f279d4);
}
div.prize-box div.prize-fourth h4 {
  color: #c09;
  text-shadow: #800060 0.03125em 0.03125em;
}

@media (max-width: 1199px) {
  div.prize-box h3 {
    font-size: 1.5em;
  }
}


/* Judges */
div.judge img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  margin-bottom: 0.5em;
}
div.judge p {
  line-height: 1em;
}
div.judge span {
  color: rgba(0,0,0,0.5);
  font-style: italic;
  font-size: 80%;
}
div.judge h3 {
	font-size: 125%; 
	font-weight: bold;
}