/*
  downloads.css
  -----------------------------------------
  Technical Showcase 4
  Website designed by Ryan "xRGTMx" Gudonis
  © 2020
*/

/* Graphics */
a.graphic img, a.graphic-alt img {
	width: 100%; 
	border: 2px solid #ff3434;
  transition: 0.15s ease-in-out;
}
a.graphic img {
	max-width: 12em;
}
a.graphic-alt img {
	max-width: 6em;
}
a.graphic:hover img, a.graphic-alt:hover img {
	border-color: #0d1dcf;
}