/*
  guidelines.css
  -----------------------------------------
  Technical Showcase 4
  Website designed by Ryan "xRGTMx" Gudonis
  © 2020
*/

/* Rubric Table */
table#rubric {
  width: 100%;
  border-collapse: collapse;
}
table#rubric th {
  font-size: 125%;
  text-align: center;
  border-bottom: 1px solid #000;
}
table#rubric td {
  font-size: 125%;
  text-align: center;
  padding: 2px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
table#rubric tr.total td {
  font-size: 125%;
  font-style: italic;
  font-weight: bold;
  border-bottom: none;
}
table#rubric td.description {
  font-size: 80%;
  line-height: 125%;
  text-align: justify;
}

/* Round 1 Breakdown */
table#breakdown {
  line-height: 100%;
}
table#breakdown td {
  padding: 0.75em 0;
  font-size: 4em;
}
.bg-discretion {
  background-image: linear-gradient(to bottom, #dc3545, #28a745)
}

/* Media Queries */
.for-wide {
  display: inherit;
}
.for-narrow {
  display: none;
}

@media (max-width: 1199px) {
  table#breakdown td {
    font-size: 3em;
  }
}
@media (max-width: 991px) {
  table#breakdown td {
    padding: 0.625em 0;
    font-size: 2.5em;
  }
}
@media (max-width: 767px) {
  table#breakdown td {
    padding: 0.5em 0;
    font-size: 2em;
  }
}
@media (max-width: 575px) {
  table#breakdown td {
    font-size: 1.5em;
  }
  .for-wide {
    display: none;
  }
  .for-narrow {
    display: inherit;
  }
}