/*
  results.css
  -----------------------------------------
  Technical Showcase 4
  Website designed by Ryan "xRGTMx" Gudonis
  © 2020
*/

/* Winners, not LOOSERS... */
div.row.winner {
  margin: 0 0.2em 1em;
  line-height: 1em;
  border: none;
}
div.row.winner div.place {
  text-align: center;
}
div.row.winner div.place h3 {
  font-size: 3em;
  font-weight: bold;
}
div.row.winner div.simfile {
  padding: 1em;
}
div.row.winner div.simfile h4 {
  font-size: 3em;
}
div.row.winner div.simfile h5 {
  font-size: 1.5em;
}
div.row.winner.first {
  background: #ffefbf;
  background: -webkit-linear-gradient(#ffefbf,#ffdf80);
  background: -o-linear-gradient(#ffefbf,#ffdf80);
  background: -moz-linear-gradient(#ffefbf,#ffdf80);
  background: linear-gradient(#ffefbf,#ffdf80);
}
div.row.winner.first div.place h3 {
  color: #ffbf00;
  text-shadow: #bf8f00 0.025em 0.025em;
}
div.row.winner.first div.simfile {
  background: #fff5d9;
  color: #bf8f00;
}
div.row.winner.second {
  background: #e6ecf2;
  background: -webkit-linear-gradient(#e6ecf2,#c3d4e5);
  background: -o-linear-gradient(#e6ecf2,#c3d4e5);
  background: -moz-linear-gradient(#e6ecf2,#c3d4e5);
  background: linear-gradient(#e6ecf2,#c3d4e5);
}
div.row.winner.second div.place h3 {
  color: #acb6bf;
  text-shadow: #737a80 0.025em 0.025em;
}
div.row.winner.second div.simfile {
  background: #edf1f5;
  color: #737a80;
}
div.row.winner.third {
  background: #ffd9b2;
  background: -webkit-linear-gradient(#ffd9b2,#f2b06d);
  background: -o-linear-gradient(#ffd9b2,#f2b06d);
  background: -moz-linear-gradient(#ffd9b2,#f2b06d);
  background: linear-gradient(#ffd9b2,#f2b06d);
}
div.row.winner.third div.place h3 {
  color: #c60;
  text-shadow: #804000 0.025em 0.025em;
}
div.row.winner.third div.simfile {
  background: #ffecd9;
  color: #804000;
}
div.row.winner.fourth {
  background: #ffddff;
  background: -webkit-linear-gradient(#ffddff,#f279d4);
  background: -o-linear-gradient(#ffddff,#f279d4);
  background: -moz-linear-gradient(#ffddff,#f279d4);
  background: linear-gradient(#ffddff,#f279d4);
  border-color: #f279d4;
}
div.row.winner.fourth div.place h3 {
  color: #c09;
  text-shadow: #800060 1px 1px;
}
div.row.winner.fourth div.simfile {
  background: #ffd8f4;
  color: #800060;
}


/* Media Queries for Winners, not LOOSERS... */
@media (max-width: 1199px) {
  div.row.winner div.place h3 {
    font-size: 2.5em;
  }
}
@media (max-width: 991px) {
  div.row.winner div.place h3 {
    font-size: 2em;
  }
  div.row.winner div.simfile h4 {
    font-size: 2.5em;
  }
  div.row.winner div.simfile h5 {
    font-size: 1.25em;
  }
  div.row.winner div.simfile p {
    font-size: 0.9375em;
  }
}
@media (max-width: 767px) {
  div.row.winner div.place h3 {
    font-size: 1.75em;
  }
  div.row.winner div.simfile h4 {
    font-size: 2em;
  }
  div.row.winner div.simfile h5 {
    font-size: 1.125em;
  }
  div.row.winner div.simfile p {
    font-size: 0.875em;
  }
}
@media (max-width: 575px) {
  div.row.winner div.place h3 {
    font-size: 1.5em;
  }
  div.row.winner div.simfile h4 {
    font-size: 1.75em;
  }
  div.row.winner div.simfile h5 {
    font-size: 1em;
  }
  div.row.winner div.simfile p {
    font-size: 0.75em;
  }
}

/* Horizontally Scrolling Tables */
div.scrolltable {
  font-family: "Inter", sans-serif;
  display: block; 
  overflow-x: auto;
  text-align: center;
}
div.scrolltable table {
  font-size: 75%;
  white-space: nowrap;
  width: 100%;
}
div.scrolltable table td:nth-child(2), 
div.scrolltable table td:nth-child(3), 
div.scrolltable table th:nth-child(2), 
div.scrolltable table th:nth-child(3) {
  text-align: left;
}
div.scrolltable th.judge {
  min-width: 4em;
  text-align: center;
}
div.scrolltable th.total, div.scrolltable td:nth-child(9) {
  min-width: 4em;
  font-weight: bold;
}
div.scrolltable table, div.scrolltable table tr, div.scrolltable th, div.scrolltable td {
	border: 1px solid rgba(0,0,0,0.25)
}
div.scrolltable table th, div.scrolltable table td {
	padding: 0.1em 0.5em;
}
a.results, a.results:visited {
	font-weight: bold; 
	padding: 0.5em 1em; 
	background: #ff3434;
	color: #fff;
	text-decoration: none;
	transition: 0.2s ease-in-out;
}
a.results:hover {
	background: #0d1dcf;
}